      <!-- コメント表示　-->
<% @book_comments.each do |book_comment| %>
 <table class="table">
  <thead>
    <tr>
      <th>
      <div class="comment-body bb">
        <div class="comment-avatar">
          <div class="avatar">
            <%= attachment_image_tag book_comment.user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%><br><br><br>
          </div>
        </div>
        <div class="comment-text">
          <div class="comment-author clearfix">
            <%= book_comment.user.name %>
            <span class="comment-meta">
            </span>
          </div>
        </th>
        <th>
          <div class="comment-entry"><%= book_comment.book_comment %></div>
          </th>
          <th>
            <% if book_comment.user == current_user %>
              <%= link_to "Destroy", book_book_comment_path(book_comment.book, book_comment), method: :delete, remote: true, class: "btn btn-danger pull-right" %>
             <% end %>
            </div>
          </th>

           <% end %>
            </div>
          </div>
        </thead>
      </table>
  