<h1>Users</h1>


    <table class="table">
	<thead>
		<tr>
			<th>image</th>
			<th>name</th>
			<th></th>

		</tr>
	</thead>
	<% @users.each do |user| %>
	<tbody>

		<tr>
      <td>  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg' %></td>
      <td style="border:none;"><%= user.name %></td>
		  <td></td>
		 </tr>

    <% end %>
  </tbody>
</table>

