
<h1>Books</h1>


    <table class="table">
	<thead>
		<tr>
			<th></th>
			<th>Title</th>
			<th>Opinion</th>

		</tr>
	</thead>
	<% @books.each do |book| %>
	<tbody>
		<tr>
			<td style="border:none;">profile_image</td>
			<td style="border:none;"><%= book.title %></td>
      <td style="border:none;"><%= book.body %></td>
		</tr>

    <% end %>
  </tbody>
</table>

